{% extends 'base.html.twig' %}

{% block body %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */

        #map {
            height: 600px;

        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #origin-input,
        #destination-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 200px;
        }

        #origin-input:focus,
        #destination-input:focus {
            border-color: #4d90fe;
        }

        #mode-selector {
            color: #fff;
            background-color: #4d90fe;
            margin-left: 12px;
            padding: 5px 11px 0px 11px;
        }

        #mode-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    </style>

    <div class="container">
        <br>






        <h1>Publier une annonce</h1>
        <p>
            <em> <h5 style="color: #880000">{% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endfor %}</h5></em>
        </p>

        <form  class="simple_form form-horizontal" autocomplete="off" novalidate="novalidate" id="new_trip"  accept-charset="UTF-8" method="post">


            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel panel-default">

                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">Itinéraire et prix global du trajet</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-inputs" aria-required="true">
                                <div class="form-group string required trip_points_city"><label class="col-sm-3 control-label string required" for="trip_points_attributes_0_city"><abbr title="obligatoire">*</abbr> Départ</label><div class="col-sm-9"><input class="form-control " required="required" aria-required="true" placeholder="De" type="text" name="depart" id="origin-input"  ></div></div>
                            </div>
                            <div class="form-inputs" >
                                <div class="form-group string required trip_points_city"><label class="col-sm-3 control-label string required" for="trip_points_attributes_1_city"><abbr title="obligatoire">*</abbr> Arrivée</label><div class="col-sm-9"><input class="form-control " required="required" aria-required="true" placeholder="À" type="text" name="arrive" id="destination-input"></div></div>
                            </div>
                            <div class="form-group integer required trip_price"><label class="col-sm-3 control-label integer required" for="trip_price"><abbr title="obligatoire">*</abbr> Prix</label><div class="col-sm-9"><input class="form-control numeric integer required" min="0" step="1" type="number" name="prix" id="trip_price"></div></div>
                            <br>


                            <p>
                                <em>(prix à partir de la ville de départ)</em>
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel panel-default">

                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">Date, horaire et détails</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group string required trip_departure_date"><label class="col-sm-3 control-label string required" for="trip_departure_date"><abbr title="obligatoire">*</abbr> Date</label><div class="col-sm-9"><input class="form-control string required datepicker hasDatepicker" value="" placeholder="Date" type="date" name="date" id="date"></div></div>
                            <div class="timePosted"><label class="col-sm-3 control-label time required" for="trip_departure_time_4i"><abbr title="obligatoire">*</abbr> Heure</label><div class="col-sm-9">

                                    <select id="trip_departure_time_4i" name="heure1" class="form-control time required" style="display: initial; width: initial;">
                                        <option value=""></option>
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12" selected="selected">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                    </select>
                                    :
                                    <select id="trip_departure_time_5i" name="heure2" class="form-control time required" style="display: initial; width: initial;">
                                        <option value=""></option>
                                        <option value="00" selected="selected">00</option>
                                        <option value="05">05</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                        <option value="35">35</option>
                                        <option value="40">40</option>
                                        <option value="45">45</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                    </select>
                                </div></div>

                    </div>
                    <div class="panel panel-default">

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Votre véhicule</h3>
                        </div>
                        <div class="panel-body">
                            <div class="select-option"><label class="col-sm-3 control-label select required" for="trip_seats"><abbr title="obligatoire">*</abbr> Nombre de places</label><div class="col-sm-9"><select class="form-control select required" min="0" name="place" id="trip_seats"><option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        </select></div></div>
                            <div class="select-option"><label class="col-sm-3 control-label select required" for="trip_comfort"><abbr title="obligatoire">*</abbr> Confort</label><div class="col-sm-9"><select class="form-control select required" name="comfort" id="trip_comfort"><option value=""></option>
                                        <option value="Basique">Basique</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Comfortable">Comfortable</option>
                                        <option value="Luxe">Luxe</option></select></div></div>
                            <div class="radio"><label class="col-sm-3 control-label radio_buttons optional">Fumeur</label><div class="col-sm-9"><input type="hidden" name="fumeur" value=""><label class="radio-inline" for="trip_smoking_true"><input class="radio_buttons optional" type="radio" value="Oui" name="fumeur" id="trip_smoking_true">Oui</label><label class="radio-inline" for="trip_smoking_false"><input class="radio_buttons optional" readonly="readonly" type="radio" value="Non" checked="checked" name="fumeur" id="trip_smoking_false">Non</label></div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">

                            <input type="submit" value="Ajouter" class="btn">       </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="pull-right" id="distance_and_time"></div>
                </div>



            </div>
                <div class="col-md-5" id="map">
                </div>
                </div>

        </form>


    </div>


    <div id="mode-selector" class="controls">

            <input type="radio" name="type" id="changemode-walking" checked="checked">
            <label for="changemode-walking">Walking</label>

            <input type="radio" name="type" id="changemode-transit">
            <label for="changemode-transit">Transit</label>

            <input type="radio" name="type" id="changemode-driving">
            <label for="changemode-driving">Driving</label>
        </div>


    <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                mapTypeControl: false,
                center: {lat: -33.8688, lng: 151.2195},
                zoom: 13
            });

            new AutocompleteDirectionsHandler(map);
        }

        /**
         * @constructor
         */
        function AutocompleteDirectionsHandler(map) {
            this.map = map;
            this.originPlaceId = null;
            this.destinationPlaceId = null;
            this.travelMode = 'WALKING';
            var originInput = document.getElementById('origin-input');
            var destinationInput = document.getElementById('destination-input');
            var modeSelector = document.getElementById('mode-selector');
            this.directionsService = new google.maps.DirectionsService;
            this.directionsDisplay = new google.maps.DirectionsRenderer;
            this.directionsDisplay.setMap(map);

            var originAutocomplete = new google.maps.places.Autocomplete(
                originInput, {placeIdOnly: true});
            var destinationAutocomplete = new google.maps.places.Autocomplete(
                destinationInput, {placeIdOnly: true});

            this.setupClickListener('changemode-walking', 'WALKING');
            this.setupClickListener('changemode-transit', 'TRANSIT');
            this.setupClickListener('changemode-driving', 'DRIVING');

            this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
            this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');


            this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
        }

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
            var radioButton = document.getElementById(id);
            var me = this;
            radioButton.addEventListener('click', function() {
                me.travelMode = mode;
                me.route();
            });
        };

        AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
            var me = this;
            autocomplete.bindTo('bounds', this.map);
            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.place_id) {
                    window.alert("Please select an option from the dropdown list.");
                    return;
                }
                if (mode === 'ORIG') {
                    me.originPlaceId = place.place_id;
                } else {
                    me.destinationPlaceId = place.place_id;
                }
                me.route();
            });

        };

        AutocompleteDirectionsHandler.prototype.route = function() {
            if (!this.originPlaceId || !this.destinationPlaceId) {
                return;
            }
            var me = this;

            this.directionsService.route({
                origin: {'placeId': this.originPlaceId},
                destination: {'placeId': this.destinationPlaceId},
                travelMode: this.travelMode
            }, function(response, status) {
                if (status === 'OK') {
                    me.directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        };

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN5BlbnsC04RC40wvaZfm7QrwgFX8IhIU&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}
